<%- include('../includes/header.ejs', {title: 'Join' + bot.name}) %>
<div class="flex flex-col items-center justify-center h-screen ">
  <div class="w-96 h-96 bg-blue-color text-white text-center rounded-lg items-center">
    <h1 class="text-3xl font-bold p-5">Join <%= bot.name %></h1>
    <p>You will be redirected after 3 seconds </p>
    <div class="flex justify-center">
      <image src="/gif/loading.gif">
        <span class="sr-only">Loading...</span>
    </div>
    Press <a href="<%- invite %>">here</a> if you are not redirected.
  </div>
  <script>
    setTimeout(function() {
      window.location.href = '<%- invite %>';
    }, 3000);
  </script>
</div>
</div>
<%- include('../includes/footer.ejs') %>